.first{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding-top: 8%;
}
.para2{
    color: hsl(201, 11%, 66%);
    line-height: 30px;
    width: 48%;
}
@media (max-width:651px) {
    .para2{
        width: 345px;
    }
}
